#video-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.frame {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  max-width: 80%; /* Adjust to control max size on larger screens */
  max-height: 95%; /* Adjust to control max size on larger screens */
  object-fit: cover;
  border-radius: 20px;  /* Rounded corners */
  border: 4px solid #DCD0FF;  /* Red border */
}

/* Mobile-specific settings */
@media (max-width: 768px) {
  video {
    width: 100%;
    height: 100%;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}




    